.contact {
  position: relative;
  width: 400px;
  background: #fff;
  padding: 100px 50px;
  text-align: center;
  position: relative;
  border-radius: 2px;
  border: 1px solid #111;
}


.contact__cardTitle {
  font-size: 25px;
  font-weight: bold;
}


.contact__phone {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 100;
  font-family: sans-serif;
}


.contact__bang {
  width: 160px;
  height: 160px;
  position: absolute;
  right: -50px;
  bottom: -50px;
}
