.layout__news {
  margin: 120px 20px 0;
}

.news {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.news__menu {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.news__menuItem {
  text-decoration: none;
  color: #111;
  padding: 10px;
}

.news__menuItem:hover {
  color: #f8cc9d;
}

.news__menuItem:after {
  content: '';
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 2px;
  width: 5px;
  height: 5px;
  background: #505050;
  border-radius: 50%;
}

.news__menuItem:last-child:after {
display: none;
}



.news__item {
  text-decoration: none;
  color: #111;
  padding: 10px;
  border: 1px solid #505050;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.news__itemImage {
  height: 500px;

}

.news__itemTitle {
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 12px;
  font-family: sans-serif;
  letter-spacing: 0.5px;
}
