.menu {
  display: flex;
  justify-content: center;
}


.menu__item {
  outline: none;
  text-decoration: none;
  color: #111;
  padding: 10px;
}
.menu__item:hover {
  color: #f8cc9d;
}
.menu__item:after {
  content: '';
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 2px;
  width: 5px;
  height: 5px;
  background: #505050;
  border-radius: 50%;
}
.menu__item:last-child:after {
  display: none;
}
.menu__item_active {
  color: #f8cc9d;
}
