/*******************************************************************************
 *
 * Model blocks
 *
 ******************************************************************************/

.modelBlocks {

}

.modelBlock {
  margin-bottom: 120px;
}

.modelBlock__title {
  color: #000;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 1.3px;
  border-bottom: 1px solid #efefef;
  padding: 20px 20px 28px;
  margin-bottom: 28px;
}

.modelBlock__models {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*******************************************************************************
 *
 *
 *
 ******************************************************************************/

.layout__content .modelCard {
  margin-bottom: 25px;
}

.modelCard {
  margin: 5px;
  display: block;
  width: 300px;
  height: 390px;
  text-decoration: none;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}


.modelCard__body {
  flex-grow: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 2px;
  position: relative;
}


.modelCard__name {
  flex-shrink: 0;
  padding: 10px 10px 10px 0;
  font-size: 14px;
  color: #111;
  font-weight: 400;
}


.modelCard__params {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  flex-direction: column;
  align-items: center;
  color: #fff;
  opacity: 0;
  transition: opacity 0.2s ease;
}
.modelCard:hover .modelCard__params {
  opacity: 1;
}


.modelCard__height {
  font-weight: 400;
  margin-bottom: 10px;
}


.modelCard__measures {
  font-size: 14px;
}

.modelCard__measure {
  display: flex;
  margin-bottom: 2px;
}

.modelCard__measure:last-child {
  margin-bottom: 0;
}

.modelCard__measureCell {
  border: none;
  padding: 2px 4px;
}

.modelCard__measureCell:first-child {
  width: 50px;
  text-align: right;
}

.modelCard__divider {
  opacity: 0.5;
  margin: 0 2px;
  transform: scale(0.9);
  display: inline-block;
  transform-origin: center;
}
