.Contacts {

}

.Contacts__title {
  font-size: 35px;
  margin-bottom: 30px;
  width: 900px;
}

.safari .Contacts__title {
  font-weight: 200;
}

.Contacts__item {

}

.About__email {
  text-align: center;
}

.Contacts__email {
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  padding: 20px;
  color: #222;
  font-weight: 300;
  font-size: 26px;
}

.Contacts__itemRow {
  font-size: 18px;
  margin-bottom: 10px;
}
.safari .Contacts__itemRow {
  font-weight: 200;
}
.Contacts__itemRow:last-child {
  margin-bottom: 0;
}
.Contacts__itemRow_link {
  display: block;
  color: black;
  text-decoration-color: #c7c7c7;
  text-decoration-skip: ink;
}
.Contacts__itemRow_title {
  font-weight: 600;
  font-size: 19px;
  margin-bottom: 11px;
}

.safari .Contacts__itemRow_title {
  font-weight: 500;
}
