.layout {

}


.layout__header {
  margin-bottom: 63px;
}


.layout__content {
  display: flex;
  justify-content: center;
  padding: 75px 0 100px;
  min-height: 400px;
}

.layout__content > * {
  margin-bottom: auto;
}


.layout__footer {

}

