.About {
  margin-top: 100px;
  margin-bottom: 60px;
}

.About__title {
  margin-bottom: 40px;
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.3px;
}

.About__container {
  width: 460px;
  padding: 40px;
  border-radius: 2px;
  font-size: 16px;
}

.About__text {
  line-height: 140%;
  font-weight: 300;
  text-align: justify;
}

.About__contacts {
  text-align: center;
  margin-top: 40px;
}

.About__contactsLine {
  margin-top: 5px;
}

.About__contactsLine_lastEmail {
  margin-top: 1px;
}

.About__contactsLine_city {
  font-weight: 400;
}

.About__email {
  color: #222;
  font-weight: 300;
  text-align: center;
}
