.Header {
  height: 90px;
  display: flex;
  justify-content: center;
}

.Header__center {
  width: 830px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header__menu {
  width: 330px;
  display: flex;
}
.Header__menu_right {
  justify-content: flex-end;
}

.Header__menuItem {
  margin: 0 38px;
}

.Header__logo {
  color: #000;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1.3px;
  text-decoration: none;
  text-transform: uppercase;
}
