.slider {
  overflow: hidden;
  width: 100vw;
  position: relative;
}

.slider__overlay {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: calc((100vw - 800px) / 2);
  background: rgba(255, 255, 255, 0.9);
  z-index: 1;
  transition: background 0.3s ease;
}
.slider__next:hover ~ .slider__overlay_right,
.slider__prev:hover ~ .slider__overlay_left {
  background: rgba(255, 255, 255, 0.8);
}
.slider__overlay_left {
  left: 0;
}
.slider__overlay_right {
  right: 0;
}


.slider__prev,
.slider__next {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 2;
  width: 50%;
  cursor: pointer;

}


.slider_first .slider__prev,
.slider_last .slider__next {
  display: none;
}


.slider__next {
  right: 0;
}

.slider__prev {
  left: 0;
}

.slider__content {
  margin: 0 auto;
  width: 800px;
  height: 500px;
  position: relative;
}

.slider__line {
  position: absolute;
  display: flex;
  transition: transform 0.5s ease;
}

.slider__slide {
  width: 800px;
  height: 500px;
  flex-shrink: 0;
  position: relative;
}

.slider__photo {
  position: absolute;
  top: 5px;
  bottom: 5px;
  right: 5px;
  left: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1px;
}
