.model {
  margin: 30px 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.model__name {
  color: #000;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 8px;
}

.model__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.model__menuItem {
  outline: none;
  color: #111;
  margin: 10px;
}

.model__dot {
  margin-left: 10px;
  margin-right: 10px;
  width: 3px;
  height: 3px;
  background: #505050;
  border-radius: 50%;
}

.menu__active {
  color: #f8cc9d;
}

.model__book {
  display: flex;
}

.model__info {
  width: 398px;
  height: 548px;
  border: 1px solid #111;
  border-radius: 2px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.model__photos {
  display: flex;
}

.model__img {
  height: 550px;
  margin-right: 10px;
  cursor: pointer;
}

.model__measures {
  opacity: 0.8;
  font-weight: 300;
  font-size: 15px;
  display: flex;
  margin-top: 15px;
}

.model__measure {
  margin: 0 20px;
  display: flex;
}

.measure__title {
  margin-right: 10px;
}

